[2019-03-18 22:37] cppforlife opened #489 "add doc page comparing kapp to other tools"
compare to:
- helm
- kubectl --prune
- pulumi

[2020-10-05 12:25] StarpTech commented on #489
Perhaps this helps a bit https://github.com/StarpTech/k8s-gitops I built this demo to show the strength of client tools compared to server tools like Argo and Flux.

[2020-10-06 18:17] pivotaljohn commented on #489
Lots of great material in there, @StarpTech, thank you for sharing!

[2021-01-10 14:54] jayunit100 opened #162 "new project instructions"
we should add instructions on how people can propose projects to carvel, if theres a way.

[2021-01-11 12:35] jayunit100 opened #163 "[proposal] A windows k8s Swiss army knife as a utility in the carvel family"
I would like to propose a new tool to the carvel ecosystem: A windows bolt on command line tool, that you can add to any cluster-api (or non cluster-api based) cluster.  For lack of a better name, id call this `wanzu` to start.

The functionality of this tool would include:

- Building windows images and uploading them to various clouds as ISOs.
- Bolting 'windows' nodes on to a CluterAPI cluster

[2021-01-11 12:37] jayunit100 commented on #163
We have, some rough prototyping in place for this as is, but happy to share more if anyone wants to catch up some time.  Also happy to close if this doesn't fit in with the overall carvel model.

My reason for thinking this is perfect for carvel is that, windows clusters are:
- highly heterogenous
- require complex update machinery, so they can't be stamped with robot automation easily

The thus r

[2021-01-11 23:00] cppforlife commented on #163
@jayunit100 if im reading this right, this tool seems to be angled towards supporting windows for clusterapi. i have a feeling that this may be a better fit under clusterapi umbrella?

[2021-01-12 00:49] jayunit100 commented on #163
it's not capi specific at all , but yes I do believe some capi awareness will be important in it.

Also...  I don't think going through kubernetes-sigs/ is worth it as it's not going to be benefited/driven by a heavyweight process .

But if it's not relevant we can just do it on a personal GitHub .

[2021-01-14 19:54] aaronshurley commented on #162
@jayunit100 Thank you for surfacing this, I definitely agree. For now, [it looks like you have a way forward](https://github.com/vmware-tanzu/carvel/issues/2) but we'll be sure to better define this process. We'll keep this issue open until that happens.

[2021-01-19 18:15] cppforlife commented on #163
@jayunit100 i dont think proposed functionality would fit well into carvel at this point since we are curating general purpose tools that also have fairly stable API boundaries:

tools like packer already allow you to do this (if packer didnt exist i could potentially see building a tool like that but it wouldnt necessarily be specific to windows). it's not clear what we would add here.

this does

[2021-01-19 20:07] jayunit100 commented on #163
closing

[2021-01-26 00:20] StevenLocke opened #41 "Hard to navigate to the docs page"
**Describe the problem/challenge you have**
When trying to navigate to the docs, I get a 404 at [carvel.dev/ytt/docs/](https://carvel.dev/ytt/docs/). It then only offers me the ability to return to the main carvel.dev site or a "page not found support site".

Instead, the correct link for ytt's docs is
[carvel.dev/ytt/docs/latest](https://carvel.dev/ytt/docs/latest)

**Describe the solution you'd

[2021-01-29 00:12] gcheadle-vmware opened #164 "Implement the proposed MVP Public Backlog"
## Why
We would like to try a Community meeting format on February 1st suggested by Jonas and Nanci where we review upcoming work and leave space for the community to voice their opinions. In order to review upcoming work in a public way, we want to have a backlog view that the community can see.

Using the proposal from this [hackmd doc](https://hackmd.io/YalZWO3eSSyTz0Y_LMFAbw?view), create the

[2021-01-29 00:13] gcheadle-vmware opened #161 "Improve Carvel's open-source project healthiness in preparation for CNCF Sandbox donation"
**Note:** This is an **_epic_** issue.

# Why
We want to ensure that Carvel is easily understood, trusted, and approachable so that potential users know what they can expect from the project.

# How
The immediate things we'd like to improve:
1. https://github.com/vmware-tanzu/carvel/issues/495
2. https://github.com/vmware-tanzu/carvel/issues/517
3. https://github.com/vmware-tanzu/carvel/issues/58

[2021-01-29 02:14] cari-lynn commented on #164
Made edits to the proposal as we we're implementing the backlog. Please feel free to provide feedback here in this issue or in this document https://hackmd.io/YalZWO3eSSyTz0Y_LMFAbw

[2021-02-02 21:29] aaronshurley commented on #164
This work was completed. [See the board in zenhub](https://app.zenhub.com/workspaces/carvel-backlog-6013063a24147d0011410709).

[2021-02-19 16:58] aaronshurley opened #160 "Define what an "experimental" project is"
On the [README](https://github.com/vmware-tanzu/carvel/blob/master/README.md), a few projects are listed as experimental. What does this mean?

It would be helpful to set clearer expectations for experimental vs established(?) projects. A couple of things to consider are support responsiveness and release frequency.

Once we settle on a definition of experimental. We should clearly label the exper

[2021-02-19 23:51] aaronshurley opened #165 "Move proposals to this repo"
# Background
We would like to establish a consistent practice for proposals across Carvel so that people know where to look. Proposals are generally used for larger feature requests or for work that spans multiple Carvel tools. After some discussion in [Slack](https://kubernetes.slack.com/archives/CH8KCCKA5/p1613060845217700), the consensus decision is to have our proposals in a single, shared loc

[2021-02-20 00:08] aaronshurley opened #159 "Document our GitHub Project planning process"
A community-facing description so that folks understand how to read our GitHub Project. They should be able to understand the following:
- what we're working on right now
- what our upcoming work is
- what work is unplanned but available for community contributions

Tasks:
- [ ] Add description of our [ZenHub board](https://app.zenhub.com/workspaces/carvel-backlog-6013063a24147d0011410709/board)
-

[2021-02-20 00:10] aaronshurley opened #55 "external links should open a new tab"
### Why
We want to create a consistent experience for visitors to [carvel.dev](https://carvel.dev). Currently, we have external links (e.g. link to GitHub repo) that follow those link within the current tab creating a disjointed experience of our website and losing the "reminder" to continue on the website. To fix this, we would like to have all external links open a new tab.

**As a** [carvel.dev

[2021-02-20 00:11] aaronshurley opened #56 "Full screen button does not expand the content"
Sourced from: https://github.com/vmware-tanzu/carvel-ytt/issues/272

This is hopefully not too large of a CSS change. We're already adding and removing a class to our body when the fullscreen button is clicked,  so we should be able to make a more specific selector for the `playground-wrapper` than the one in use (giving it priority) by incorporating the `playground-expanded` class.

[2021-02-20 00:12] aaronshurley opened #158 "add dependabot to projects"
# Context
Currently bumping dependencies is a manual process. This can result in having old dependencies making it harder / costly to bump in the future.

# Description
Automate bumping dependencies. [dependabot](https://dependabot.com/) is one approach to consider

- [x] ytt
- [x] kapp
- [x] kbld
- [x] imgpkg
- [x] kapp-controller
- [x] vendir

[2021-02-20 00:13] adriens commented on #158
Trully love this idea 💯

[2021-02-20 00:14] aaronshurley opened #157 "Add deadcode/unused linters to repositories"
### Why

With the addition of linting tools, we should continue adding on additional linters to assure better code quality. Some of the more important linters we can add are `deadcode`/`unused`. These linters help detect unused code in go projects.

As part of enabling these linters, we should also remove any unused source code from `kapp`, `imgpkg`, `kbld`, and `ytt`.

**As a** Carvel maintainer

[2021-02-20 00:17] aaronshurley opened #156 "Investigate what type of cli will address the complexity of the carvel tools"
Given the feedback that using the three tools (ytt, kbld, kapp) complicates the workflows for operators that are new to the toolset, we should investigate if we should introduce a cli that combines these tools so the user has the option to avoid interacting with the building blocks but can still interact with the three separate clis if they want

[2021-02-20 00:26] aaronshurley opened #57 "fix repetition of tool images"
### Steps to reproduce
1. visit any of the tools on [carvel.dev](https://carvel.dev/ytt/)
2. See the image tiles oddly on wide screens

### Expected
Image is fixed, doesn't overlap with text and doesn't repeat

### Actual
image overlaps text and repeats

### Notes
- the carvel.dev page does this correctly using `background-size: cover`

[2021-02-20 00:28] aaronshurley opened #58 "Explore how we can have top-level/shared docs on the website"
### Why
Our website currently lacks a clear way to access and organize top-level, shared documentation that relates to the Carvel project as a whole rather than an individual tool. Duplicating documentation across many projects is tedious and difficult to maintain. This story is to explore ways that we could introduce a shared documentation structure.

**As a** [carvel.dev](https://carvel.dev) vis

[2021-02-20 00:29] aaronshurley opened #59 "Add The New Stack's Post on Carvel Blog"
### Acceptance Criteria
* Add [The New Stack's blog post](https://thenewstack.io/how-to-make-identity-and-config-operations-boring-in-kubernetes/) to carvel.dev/blog

[2021-02-20 00:38] aaronshurley opened #155 "Move k14s docker hub to carvel-dev ghcr"

[2021-02-20 00:38] aaronshurley opened #153 "Update Go Module Names for Migrated Repositories"
## Context

- We've moved our git repos from the `k14s` org to the `vmware-tanzu` org.
- The module path of a project to match that of the GitHub repo where it lives.
- ⚠️ We will rename the module names of all our tools; this is a breaking change for those who are depending on our tools as libraries/modules.

_(mentioned in [vmware-tanzu/carvel-kapp-controller#48](https://github.com/vmware-tanzu/

[2021-02-26 19:00] aaronshurley opened #166 "Document our prioritization process and how we use ZenHub as a public backlog"

[2021-02-26 19:02] aaronshurley commented on #166
Oops. Didn't realize that I had already created https://github.com/vmware-tanzu/carvel/issues/12

[2021-03-02 18:12] aaronshurley opened #167 "Document CLI UI guidelines"
Flag guidelines:
- `--dangerous-*`
- `--*-alpha`

Examples of current inconsistencies:

- running `kapp` produces help msg and error
  - vendir and imgpkg on the other hand just produce error message with list of sub commands
  - ytt and kbld return successfully (since they have root commands registered)

_Note: This issue originated from https://github.com/k14s/design-docs/issues/2 but has been m

[2021-03-18 18:25] aaronshurley commented on #162
@jayunit100 We recently added a proposals process that could be a way to introduce new projects. Please take a look when you have a moment: https://github.com/vmware-tanzu/carvel-community/tree/develop/proposals

I'm going to close out this issue but if the proposal process doesn't meet your needs then please feel free to reopen this issue with further details. Thanks!

[2021-03-19 22:14] adriens opened #168 "CDN resource for carvel logo (for chocolatey packages)"
# Context

I'm maintaining Carvel chocolatey packages,  but recently Chocolatey guidelines ask to provide the logo url as a CDN content :

# Consequence

As long as I can't provide the the requested url, **my packages cannot be validated anymore, preventing me from pushing latest updates.**

# Requested Action

- [ ] Provide me the CDN url of carvel logo

# Actual workaround

Use https://staticall

[2021-03-19 22:33] TheCakeIsNaOH commented on #168
Hi,

You can just go to the statically CDN site: https://statically.io/convert/, paste in your current `iconUrl` that points to a github raw file link, and it will give you the statically cdn link, and you replace the `iconUrl` with the statically link.

So
`https://raw.githubusercontent.com/adriens/chocolatey-kbld/main/img/CarvelLogo.png`
Would get converted to
`https://cdn.statically.io/gh/adrie

[2021-03-26 00:04] pivotaljohn opened #75 "Migrate `ytt` playground rendering from Dmitriy's AWS account to Netlify's Functions"
**Describe the problem/challenge you have**
Want to be able to deploy a new version of the ytt playground backend without having to bug Dmitriy about it.

**Describe the solution you'd like**
Since we're hosting our docs at Netlify and Netlify also hosts AWS Lambdas under their "Functions" feature, seems like that would be a great alternative.

**Anything else you would like to add:**
Functions co

[2021-03-26 15:11] gabegorelick opened #76 "kapp: Docs for resource matchers imply they're only used by rebaseRules and ownershipLabelRules"
Resource matchers are used by `rebaseRules`, `ownershipLabelRules`, `waitRules`, and probably other rules, but only the first two are mentioned under the "Resource matchers" section.

https://carvel.dev/kapp/docs/latest/config/#resource-matchers

![image](https://user-images.githubusercontent.com/610129/112652161-7b62bc80-8e23-11eb-9b1a-266086d4d2f6.png)

[2021-03-26 20:28] cppforlife commented on #75
id also love to see us using playground html/js/css shipped in `ytt website` (aka ytt playground lambda) instead of duplicating this in carvel.dev (https://github.com/vmware-tanzu/carvel.dev/tree/develop/content/ytt/js).

[2021-03-29 21:03] gcheadle-vmware commented on #76
Hi @gabegorelick, great call out! You are absolutely correct, `resourceMatchers` are used in every kapp config rule expect for `additionalLabels`. We can make a PR to reflect this information in the kapp docs (we are also accepting contributions from the community).
Thank you for pointing this out!

[2021-03-29 23:14] gcheadle-vmware commented on #76
PR created, please submit a review on the PR #80 if you have any feedback :)

[2021-04-02 17:00] a-peek4 opened #154 "Mac developer certification for Carvel tools"
A few Carvel tools are required to use the Cloud Native Runtimes (CNR) CLI (ytt, kapp, and kbld). I got some feedback from someone who was going through the Cloud Native Runtimes install process that they had to go through the Mac process of going to System Preferences, Security and Privacy, and click "allow anyway" to be able to open the tools. I know there is some kind of option to get a develop

[2021-04-07 23:08] gcheadle-vmware commented on #76
PR merged on carvel.dev.

[2021-04-07 23:08] #76 closed, assigned to nobody

[2021-04-15 15:24] aaronshurley opened #92 "Complete the kapp-controller site"
**Describe the problem/challenge you have**
On carvel.dev's home page, the only "highlighted" tool that doesn't link to its own page is kapp-controller. Currently, it links to kapp-controller's GitHub repo. This creates confusion because kapp-controller's GH docs are falling outdated because kapp-controller's website docs _are_ updated. However, you can navigate to kapp-controller's website docs d

[2021-04-22 17:04] cari-lynn commented on #75
I'm holding context on this issue. It seems like Netlify uses AWS lambda under the hood. @StevenLocke and I left off configuring Netlify to recognize a golang function that would house the playground.

This isn't being actively prioritized so it will be worked on incrementally

[2021-05-04 17:47] gcheadle-vmware opened #101 "[ytt playground] Improve visibility of playground examples"
**Describe the problem/challenge you have**
The Carvel team recently received feedback that the example groups 'Overlays' and 'Getting Started' felt hidden on the ytt playground. Users rarely found these examples on their own. These ytt playground examples are great resources for those learning/using ytt.

Listing the current feedback from community meeting:
- Tabs don't look like the classic tab,

[2021-05-06 03:56] pivotaljohn commented on #156
Ask me about @paulczar's idea: `cvl`.

[2021-05-06 03:59] pivotaljohn opened #103 "Enable Multiple Versions of Documentation"
As per [carvel-001 — Maintain Documentation](https://github.com/vmware-tanzu/carvel-community/blob/develop/proposals/carvel/001-maintain-documentation/README.md) proposal.

[2021-05-06 15:18] joaopapereira commented on #92
This issue looks like it is already partially archived since the website looks more up to date than the documentation in the repo. Is it safe to say that the only missing bit here is to remove the .md files from the `kapp-controller` Github repository?

[2021-05-06 15:35] aaronshurley commented on #92
@joaopapereira Nice catch. The website was finished up by @cppforlife and @vibhas earlier this week. And yes, I think you're right about what's remaining. I'll change my original description to include checkboxes to show that we're partially complete.

[2021-05-11 01:43] nightwatchcyber opened #105 "Security contact?"
What the right way to report security issues with this project?

[2021-05-11 16:36] ewrenn8 commented on #105
Hi @nightwatchcyber,

It looks like you have already found the security contact email. Is there anything else you need in order to report any security issues you've found?

[2021-05-11 16:38] nightwatchcyber commented on #105
I am all set

[2021-05-11 16:38] #105 closed, assigned to nobody

[2021-05-18 21:22] ewrenn8 commented on #168
Hey @adriens ,

Did the above recommendation solve this issue for you, or are you still looking for the logo to be hosted on a CDN somewhere?

Eli

[2021-05-18 21:24] ewrenn8 commented on #153
Adding a checklist of the most consumed tools:
- [x] kapp-controller
- [x] vmware-tanzu/carvel-ytt#585
- [x] kapp - https://github.com/vmware-tanzu/carvel-kapp/issues/437
- [ ] kbld
- [x] imgpkg

[2021-05-19 06:15] adriens commented on #168
Hi @ewrenn8 , yep, it's all good for me, sorry for late answser.

[2021-05-27 19:27] gcheadle-vmware commented on #101
PR merged, closing issue.

Listing and checking off the addressed feedback:

- [x] Tabs don't look like the classic tab, it is difficult to see which examples belong to which group and is not clear which groups are open.
- [x] the current example being displayed is not highlighted
- [x] Having a default of a collapsed example set naturally hides these examples from users - which is not our goal.
-

[2021-05-27 19:27] #101 closed, assigned to gcheadle-vmware

[2021-05-27 22:00] microwavables opened #113 "Create MAINTAINERS.MD doc"
Carvel is missing a doc outlining who the maintainers are and any key stakeholders. Need to create doc and add to main repo then link out to within all tools' repos.

[2021-05-27 22:01] microwavables commented on #113
Draft Created: https://hackmd.io/lHIBD4IkTJuNWNfwvE0HZA?view

[2021-05-28 03:24] pivotaljohn commented on #113
LGTM.

Do I understand correctly that we now want a `MAINTAINERS.md` in all other repos that contains a link to this file?

[2021-05-28 22:18] microwavables commented on #113
Thanks for approving! This is part of what's missing from the health check list. Once I have all the items done I'll add it all in one fell swoop and do all the linking out fun. I created the issue for tracking purposes.

[2021-05-28 22:18] #113 closed, assigned to microwavables

[2021-06-09 23:56] pivotaljohn opened #129 "`install.sh` select from a set of checksum tools (to support a wider range of distributions)"
As a user installing Carvel tools on Fedora or Ubuntu (or other OS's not shipped with shasum)
I want to be able to verify the shas of the tools
So that I can use them confidently

# Acceptance Criteria
*Given* I am on an OS that does not have shasum like Fedora
*When* I run carvel.dev/install.sh
*Then* It exits successfully
*and* has verified the downloaded tools against their shas

Notes: Since s

[2021-06-10 00:01] GrahamDumpleton commented on #129
Specifically Linux distros tend to favour ``sha1sum`` and ``sha256sum``. Only macOS and BSD based systems are guaranteed to have ``shasum``.

Since default algorithm of ``shasum`` seems to be "1", then should check for existence of ``sha1sum`` and use it, otherwise fallback to ``shasum``.

[2021-06-10 00:05] GrahamDumpleton commented on #129
For Linux systems without ``shasum``, may be able to get it by installing ``perl-Digest-SHA`` package.

[2021-06-11 18:53] aaronshurley commented on #92
This has been completed

[2021-06-11 18:53] #92 closed, assigned to nobody

[2021-06-11 18:55] aaronshurley commented on #55
Thank you @kayvee83 for the PR!

[2021-06-11 18:55] #55 closed, assigned to nobody

[2021-06-15 21:59] pivotaljohn commented on #129
As this improves the installation experience for a category of users, this issue is quite relevant. ==> "carvel accepted"

[2021-06-22 00:28] davincizhao opened #139 "install kapp in ubuntu 20.04. installing ytt... main: line49 /tmp/ytt: permission denied"
**What steps did you take:**
[A clear and concise description steps and yaml files that can be used to reproduce the problem.]
in root account: get -O- https://carvel.dev/install.sh | bash
**What happened:**
[A small description of the result or the yaml that was generated]
installing ytt...
main: line49 /tmp/ytt: permission denied
**What did you expect:**
[A description of what was expected and t

[2021-06-24 11:26] cppforlife commented on #139
(moved the issue here since it was not really related to ytt)

line 49: https://github.com/vmware-tanzu/carvel.dev/blob/b46b14ca5c2ac0988b4905ff0a37d8580875e152/static/install.sh#L49 tries to stream bits into /tmp/ytt. please verify that that's possible.

[2021-07-09 17:46] aaronshurley commented on #154
@a-peek4 Thank you for surfacing this! We have known about this "undesirable" experience but haven't yet explored solutions. This issue will make sure that we keep this on our radar. I'm going to rename this issue to make it more generic and less CNR-specific. Please let us know if you have any urgency behind this request.

[2021-07-09 17:54] aaronshurley commented on #59
Closing as of https://github.com/vmware-tanzu/carvel.dev/pull/127

[2021-07-09 17:54] #59 closed, assigned to nobody

[2021-07-12 14:49] schmurfy opened #146 "derive data from other data"
I have been looking for a way to make this works:

data1.yaml
[code]

data2.yaml
[code]

config.yaml
[code]

expected output:
[code]

My problem is that on one side I have a value file generated from consul keys which contain the environment name as `envName` and on the other side an ytt template which expect that name to be passed in `some_key.env_name`, I don't really want to update the final te

[2021-07-12 23:28] microwavables opened #150 "imgpkg-003 Rename images when copying bundles"
@joaopapereira commented on [Tue Mar 09 2021](https://github.com/vmware-tanzu/carvel-community/pull/22)

A proposal based on the following issues:
https://github.com/vmware-tanzu/carvel-imgpkg/issues/60
https://github.com/vmware-tanzu/carvel-kbld/issues/79

---

@cppforlife commented on [Thu Apr 08 2021](https://github.com/vmware-tanzu/carvel-community/pull/22#issuecomment-815906327)

one late con

[2021-07-12 23:29] microwavables commented on #150
I moved this issue from /carvel-community to /carvel as we are merging the two repos to have /carvel be the main.

[2021-07-12 23:30] microwavables opened #151 "Mac developer certification for Carvel tools"
@a-peek4 commented on [Fri Apr 02 2021](https://github.com/vmware-tanzu/carvel-community/issues/29)

A few Carvel tools are required to use the Cloud Native Runtimes (CNR) CLI (ytt, kapp, and kbld). I got some feedback from someone who was going through the Cloud Native Runtimes install process that they had to go through the Mac process of going to System Preferences, Security and Privacy, and cl

[2021-07-12 23:32] microwavables opened #152 "Document CLI UI guidelines"
@aaronshurley commented on [Tue Mar 02 2021](https://github.com/vmware-tanzu/carvel-community/issues/19)

Flag guidelines:
- `--dangerous-*`
- `--*-alpha`

Examples of current inconsistencies:

- running `kapp` produces help msg and error
  - vendir and imgpkg on the other hand just produce error message with list of sub commands
  - ytt and kbld return successfully (since they have root commands

[2021-07-12 23:33] microwavables commented on #167
Issue moved to [vmware-tanzu/carvel #152](https://github.com/vmware-tanzu/carvel/issues/152) via [**ZenHub**](https://www.zenhub.com/)

[2021-07-12 23:33] microwavables commented on #152
Moved from /carvel-community to /carvel as we are merging the two repos to have /carvel be the main one

[2021-07-12 23:34] microwavables commented on #151
Moved from /carvel-community to /carvel as we are merging the two repos to have /carvel be the main one

[2021-07-12 23:34] microwavables commented on #153
Moved from /carvel-community to /carvel as we are merging the two repos to have /carvel be the main one

[2021-07-12 23:37] #151 closed, assigned to nobody

[2021-07-12 23:38] microwavables commented on #154
moved from /carvel-community to /carvel as we are merging the two into one

[2021-07-12 23:39] microwavables commented on #155
moved from /carvel-community to /carvel as we are merging the two into one

[2021-07-12 23:39] microwavables commented on #156
moved from /carvel-community to /carvel as we are merging the two into one

[2021-07-12 23:40] microwavables commented on #157
moved from /carvel-community to /carvel as we are merging the two into one

[2021-07-12 23:41] microwavables commented on #159
moved from /carvel-community to /carvel as we are merging the two into one

[2021-07-12 23:41] microwavables commented on #160
moved from /carvel-community to /carvel as we are merging the two into one

[2021-07-12 23:42] microwavables commented on #161
moved from /carvel-community to /carvel as we are merging the two into one

[2021-07-12 23:42] #162 closed, assigned to nobody

[2021-07-12 23:42] microwavables commented on #162
moved from /carvel-community to /carvel as we are merging the two into one

[2021-07-12 23:42] #163 closed, assigned to nobody

[2021-07-12 23:43] microwavables commented on #163
moved from /carvel-community to /carvel as we are merging the two into one

[2021-07-12 23:43] #164 closed, assigned to cari-lynn, gcheadle-vmware

[2021-07-12 23:43] microwavables commented on #164
moved from /carvel-community to /carvel as we are merging the two into one

[2021-07-12 23:43] #165 closed, assigned to aaronshurley

[2021-07-12 23:44] microwavables commented on #165
moved from /carvel-community to /carvel as we are merging the two into one

[2021-07-12 23:44] #166 closed, assigned to nobody

[2021-07-12 23:44] #167 closed, assigned to nobody

[2021-07-12 23:44] microwavables commented on #167
moved from /carvel-community to /carvel as we are merging the two into one

[2021-07-12 23:45] #168 closed, assigned to nobody

[2021-07-12 23:45] microwavables commented on #168
moved from /carvel-community to /carvel as we are merging the two into one

[2021-07-13 07:24] adriens commented on #158
I confirm this : I have dependabot on almost all my Java projects and it helps making the deps maintenance process very smooth, efficient and with very effort 👍

[2021-07-13 07:33] adriens opened #169 "💡 Use a tool to fully automate the release pipeline 💡"
# Context

In Java ecosystem, [JReleaser](https://jreleaser.org/) make the release process very easy yet powerful :

- [Checksums](https://jreleaser.org/guide/latest/configuration/checksum.html)
- [Multiple Packaging Options](https://jreleaser.org/guide/latest/configuration/packagers/index.html)
- [Publish Packages](https://jreleaser.org/guide/latest/configuration/packagers/)
- [Helps in communica

[2021-07-13 07:34] adriens commented on #169
In some way it is linked to #158

[2021-07-13 12:39] vrabbi commented on #156
Is this still being planned? I think maybe something like the tanzu cli for tkg or even kubectl, having a plugin based cli would be awesome. Makes managing the different tools and feature subsets easier for new users.

[2021-07-13 13:55] cppforlife commented on #156
nothing concrete is currently planned (this issue was made to record an idea).

im curious about your perspective on this. are you talking about installation of tools, and if so shouldnt existing package managers like brew (on os x for example) cover this case extensively?

[2021-07-13 13:59] vrabbi commented on #156
The installation is less what im getting at. More so the notion of when its a single cli woth subcommands it is more welcoming in my opinion and makea it more understandable that this is a full solution and not just a set of tools while still allowing for use of any of the tools seperately. Also using the plugin method, you can easily upgrade any of the plugins without need to upgrade them all sim

[2021-07-13 15:07] aaronshurley commented on #169
Thanks, @adriens. I know that @DennisDenuto and @danielhelfand have done some release automation work with goreleaser so far ([imgpkg example](https://github.com/vmware-tanzu/carvel-imgpkg/blob/411f2711d6609e9be7f92329b808be0fe666bc6c/.github/workflows/release.yml)). It's just happening in a piecewise fashion versus all at once. I don't think we have another issue to track this work so we can keep

[2021-07-13 15:11] aaronshurley commented on #158
Thanks, @adriens. It's great to hear about your experience with dependabot. We have enabled dependabot in our established repos so I'm going to close out this issue. If there are ways that we can further automate this process, let's open a new issue to track that work.

[2021-07-13 15:11] #158 closed, assigned to nobody

[2021-07-13 15:14] aaronshurley commented on #159
This was completed some time ago. [A description of our ZenHub board](https://github.com/vmware-tanzu/carvel/blob/8c641589edc6dcdbe1b38c600e2887a158efaf41/GOVERNANCE.md) has been documented and we have provided the link on the established repos.

[2021-07-13 15:14] #159 closed, assigned to nobody

[2021-07-13 15:18] aaronshurley commented on #150
There's [a PR](https://github.com/vmware-tanzu/carvel-community/pull/22) and a pretty lengthy discussion for more context.

[2021-07-13 22:16] adriens commented on #169
Thanks a lot for your kind feedback 🙏 @aaronshurley

[2021-07-13 22:17] adriens commented on #169
Feel free to close the issue 👍

[2021-07-14 21:36] cppforlife commented on #139
closing this. feel free to reopen.

[2021-07-14 21:36] #139 closed, assigned to nobody

[2021-07-21 21:37] aaronshurley opened #179 "[marketing] Publish a Blog Post about the Package Management APIs"
**Describe the problem/challenge you have**
Since the Package Management APIs have been released, we want to broadcast this information to grow our userbase.

**Describe the solution you'd like**
Write a blog post that describes why we developed these APIs and how they work.

Work to be done:
- [x] Draft the blog post
    - [x] Include a link to the hosted tutorial in the blog post
    - [x] Embed

[2021-07-23 18:35] aaronshurley opened #182 "Maintainers align on community engagement protocols"
**Describe the problem/challenge you have**
The community engagement (i.e. responsiveness) expectations of maintainers are unclear. We want to ensure that Carvel is an inclusive and responsive community but also need to balance how we allocate our time. This leads to confusion about how quickly maintainers should respond to incoming requests and can lead to prioritization challenges (such as shoul

[2021-07-23 18:39] aaronshurley opened #183 "Define community engagement goals"
**Describe the problem/challenge you have**
See #182 for the overlying _why_.

**Describe the solution you'd like**
We should align on a minimal set of metrics for determining our community engagement success.

**Anything else you would like to add:**
A couple of notes:
- We could consider thinking about this in the [SLI/SLO methology](https://www.atlassian.com/incident-management/kpis/sla-vs-slo-

[2021-07-23 18:45] aaronshurley opened #184 "Implement the community engagement success metrics"
**Describe the problem/challenge you have**
See #182 for they overlying _why_.

**Describe the solution you'd like**
Create a way to track the metrics defined in #183.
- Ability to see what the metrics are over time (such as the past week, past month, past quarter).

**Anything else you would like to add:**
Try to keep this lightweight (i.e. we don't need to build out a dashboard if an easier solu

[2021-08-09 06:34] 100mik opened #204 "Test cases do not consider EndpointSlices mirrored from Endpoints"
**What steps did you take:**
Built the application, created the needed endpoint variables and ran `./hack.test-all.sh` locally (Minikube with Kubernetes v1.21)

**What happened:**
The following tests failed : `TestTransientResourceSwitchToNonTransient` , `TestTransientResourceInspectDelete`,  `TestInspect`

**What did you expect:**
The tests should expect an EndpointSlice mirroring the Endpoint wh

[2021-08-09 08:47] #204 closed

[2021-08-12 21:10] aaronshurley opened #211 "Update Issue Triaging Labels to reflect the improved process"
**Describe the problem/challenge you have**
We recently updated the [issue triage process](https://github.com/vmware-tanzu/carvel/blob/develop/processes/issue-triage.md) to publicly define the process and to make prioritization decisions more transparent. Additionally, this updated process introduced a new set of priority labels which use a new label format: `<category>/<category-option` (ex: `pri

[2021-08-12 21:12] aaronshurley commented on #211
Moved this to accepted as it supports our updated issue triage process. Open for feedback if there are alternative suggestions.

[2021-08-16 17:06] aaronshurley commented on #211
Discussed with ytt/kbld/imgpgk folks and estimated this as a 1.

[2021-08-17 16:37] microwavables opened #213 "Are you using Carvel?"
# Are you using Carvel?
If you are using any of the Carvel tools, first we would like to Thank You. Our goal is to grow the community, improve Carvel and help each other.

### The purpose of this issue
We are always interested in finding out who is using Carvel, what attracted you to using the tool suite, how we can listen to your needs, and, if you are interested, help promote your organization.

[2021-08-19 04:50] vrabbi commented on #213
![TeraSky](https://user-images.githubusercontent.com/48493016/130010238-83ba8fa2-1bd3-468c-b669-cb5301ea6643.png)
Company: TeraSky
Website: https://terasky.com
Country: Israel
Contact: @vrabbi (github and k8s slack) @vrabbi_il (twitter)
Usage: TeraSky is an Advanced Technology Solutions Provider. We utilize the carvel suite in order to streamline k8s configuration and deployment by many of our cus

[2021-08-19 04:59] vrabbi commented on #213
I used a png file as it complains about not supporting svg format uploads

[2021-08-19 17:14] microwavables commented on #213
@vrabbi ah, good to know! I updated the text to "PNG" thank you!!

[2021-08-20 20:16] adriens commented on #213
# ✋Intro

Hi, I'm [Adrien Sales](https://www.linkedin.com/in/adrien-sales/)  from [OPT-NC New Caledonia](https://www.linkedin.com/company/opt-new-caledonia/mycompany/)

![image](https://user-images.githubusercontent.com/5235127/130287157-71f8f370-1ff1-40f9-a1c2-d4d6f3b96b83.png)

# ✅Questions

- [x] Your organization or company : **Office des Postes et Télécommunications de Nouvelle-Calédonie**
-

[2021-08-21 16:46] jayunit100 opened #218 "Publish mac darwin compatible binaries"
**What steps did you take:**
on OS X, `MacBook Air (M1, 2020)`... big sur
probably an easy fix, just need to support arm64 i think in the brew publication process?
[code]

[code]
**What happened:**
looks like the 64 intel brew is the only one supported?
[code]

**What did you expect:**
carvel would install on an m1 mac...

---
_(edit: add summary of issues to implement this.)_

Related work:
- [x]

[2021-08-23 23:00] cari-lynn opened #220 "Transfer Chocolatey Repos to Carvel"
This issue is to track transferring the [Chocolatey](https://community.chocolatey.org/packages/ytt) repositories from their current home in [adriens GitHub](https://github.com/adriens/chocolatey-ytt) to a single repository in the vmware-tanzu org. This applies to ytt, imgpkg, kbld, kapp, and vendir.

[This issue](https://github.com/vmware-tanzu/carvel-vendir/pull/74) has a discussion on steps to g

[2021-08-23 23:05] cari-lynn commented on #220
The current state of this work is blocked on approval for the new repo `carvel-chocolatey-packages`. This can unfortunately take some time, and we believe that the approval will start to move forward when people are back from time off later this week. @DennisDenuto and I are keeping an eye on its progress.

Huge thanks to @adriens for your patience and effort with this move!

[2021-08-23 23:26] #179 closed, assigned to vibhas

[2021-08-23 23:56] aaronshurley commented on #218
Thanks for surfacing this. I think you're right and that all we'd have to do is update our [homebrew formulas](https://github.com/vmware-tanzu/homebrew-carvel). Ideally, we'll automate this so it doesn't add ongoing toil. I created a couple of issues in that repo to address this work. For now, we can keep this issue open to increase visibility on this.

[2021-08-25 16:41] pivotaljohn commented on #218
Also, the install script currently selects the AMD64-targeted version of our tools...

https://github.com/vmware-tanzu/carvel/blob/5e8da622826935aded946c4d4f53e38a3695de29/site/static/install.sh#L28-L36

Let's update that script as part of this work as well so that if you install on an M1, you get ARM64 binaries through all install paths.

[2021-08-25 17:57] aaronshurley commented on #211
As a high-level proposal for our labeling scheme:
- prioritization
    - priority/critical-urgent
    - priority/important-soon
    - priority/important-longterm
    - priority/unprioritized-backlog
    - priority/awaiting-more-evidence
- kind
    - kind/enhancement
    - kind/bug
    - kind/cleanup # eng-focused/non-feature work
    - kind/documentation
    - kind/discussion
    - kind/support

[2021-08-25 21:40] vibhas opened #223 "Clear messaging on Carvel's website/homepage"
**Describe the problem/challenge you have**
We have improved Carvel's website significantly with the new redesign. However, one of the feedbacks that we have heard regularly is that we need clear messaging on Carvel's website. As more prospective users come to the website who are not familiar with any of the tools, it gets challenging for them to understand why Carvel exists and what problems it i

[2021-08-26 08:04] 100mik commented on #218
Added a Apple Silicon-targeted version for our [latest release](https://github.com/vmware-tanzu/carvel-kapp/releases/tag/v0.39.0). There is a [PR](https://github.com/vmware-tanzu/carvel-kapp/issues/292) updating our scripts to do this for future releases.

Made a [PR](https://github.com/vmware-tanzu/homebrew-carvel/pull/17) to `vmware-tanzu/homebrew-carvel` updating the formula for `kapp`.
 Looks

[2021-08-26 18:22] pivotaljohn commented on #211
I think of:
- `documentation` as a "component" of the product rather than a sort/kind of change.
- `discussion` as a kind of "state" — this issue is currently under discussion and progress is paused.
- `dependencies` as an `enhancement` that happens to be automatically generated.
- `cleanup` suggests to me a kind of reactive stance... is this kind of work "operations"? meaning things we need to do

[2021-08-27 16:11] aaronshurley commented on #211
@pivotaljohn Love these thoughts! You bring up a lot of great points and suggestions. To build off of your suggestions, I have some thoughts:

- As general guidance, I view these labels to serve the team of maintainers as the primary target persona. I'm hoping that we can establish a _minimum set of labels_ in order to streamline our ability to prioritize and schedule work to be done.
- priority

[2021-08-27 17:00] pivotaljohn commented on #211
Agreed. "Apologies for the length of this letter, I didn't have time to write a shorter one."

👍🏻  I had interpreted the tuples of "priority" as "level_of_importance-urgency_as_a_timeframe" maybe worth a few more minutes (zoom) to hash out options.

Yeah... I'm starting to see what the stylistic difference here is: a process-orientation vs. an attribute-orientation.

yup... "components" arose in m

[2021-08-27 17:16] DennisDenuto commented on #218
imgpkg and kbld *next* release will generate a mac arm binary

See the below PRs for details
[imgpkg PR](https://github.com/vmware-tanzu/carvel-imgpkg/pull/224)
[kbld PR](https://github.com/vmware-tanzu/carvel-kbld/pull/144)

The next time an imgpkg or kbld release occurs, in addition to modifying the homebrew formula and install.sh with the new version and sha, a change to also include the mac ar

[2021-08-27 17:20] pivotaljohn commented on #218
@DennisDenuto note the list of issues in the description ... there's one for each tool, respectively... is that a good place to capture the release step?

[2021-08-27 17:21] DennisDenuto commented on #218
Yes I think so. However when a release is being performed (in the future), I think ultimately, the person conducting the release will need to remember to also make additional updates to the homebrew formula and install.sh (which are in separate repos).

[2021-08-27 18:30] aaronshurley commented on #211
I had a chat with @jtigger and we came to to the following conclusion for now:
- prioritization
    - These feel like a pretty good collection already. We're going to leave these as they are today. We may want to update these when we think more about how we want to handle state.
- kind
    - We would like to update these to simplify our label set by using:
        - kind/enhancement # includes dep

[2021-08-31 17:58] pivotaljohn commented on #223
Triage: the value of this work is clear. This appears to be a place to capture/evolve thoughts around how to share this message.

As noted, we're getting this feedback somewhat regularly, these days.
The priority is _at least_ "important" if not "soon".

[2021-08-31 19:10] pivotaljohn opened #228 "Update install script for Caymanization"

[2021-09-03 16:39] iamhsk opened #232 "Add Promo Banner for KubeCon NA"
**Describe the problem/challenge you have**

- Keynote on Carvel will be delivered during KubeCon NA and we want visitors to Carvel homepage to easily find it.

**Describe the solution you'd like**
- [ ] Add banner saying, 'We are presenting a keynotet at [KubeCon + CloudNative North America 2021!]'
- [ ] Link banner to a blog post that details out more information about the upcoming keynote.

[2021-09-08 23:28] imikushin commented on #223
I'd like to add some color to this. Compare [Helm](https://helm.sh) and [Carvel](https://carvel.dev) homepages.

Helm states its purpose: "The package manager for Kubernetes". Without scrolling you'll also read: "Helm is the best way to find, share, and use software built for Kubernetes." That's it!

One could argue, Carvel could be used as a (much) better package manager for Kubernetes.

Current

[2021-09-14 16:48] aaronshurley commented on #228
@pivotaljohn do you have any further details for this issue or is this something that you're planning on picking up?

[2021-09-17 21:57] adriens commented on #220
Hi guys, no worry. For now, all packages have been automated and then, do not require me much effort to follow releases on each Carvel tool... even when the weeks are very busy.

My major concern now is that I really love to link a chocolatey release (or more generally any software release) to a GH release/tag. I really love that approach. To be totally honest with you I'm afraid to loose that if

[2021-09-21 17:12] gcheadle-vmware commented on #232
I see a banner saying "We are presenting a keynote at KubeCon + CloudNativeCon North America 2021! [Learn more](https://carvel.dev/blog/kubecon-na21-keynote-announcement/)." when I navigate to https://carvel.dev/.

Can this issue be closed out?

[2021-09-24 17:49] cari-lynn commented on #220
Hey @adriens! Great to hear that all packages have been automated 😎

I am wondering how you link the chocolatey release to a github release. Specifically, what do you use the chocolatey release for? Is it to keep track of the state of the chocolatey repo at a specific version or another reason?

I wonder this because I think there may be another way to track that information, such as tagging a com

[2021-09-27 15:39] danielhelfand opened #249 "Update kapp-controller asciinema video to show more realistic PackageRepository"
Currently, the kapp-controller webpage features a small demo video shown [here](https://carvel.dev/kapp-controller/#examples). The PackageRepository shown in the video features sample Packages (i.e. `simple-app.corp.com`).

However, changing this to showcase a repository with more meaningful Packages (e.g.  [cert-manager](https://cert-manager.io/docs/)) would help users better understand kapp-cont

[2021-09-29 13:21] rohitagg2020 opened #321 "Create a blog highlighting new features of kapp"
Create a blog highlighting kapp exists annotation.

[2021-09-29 13:42] renuy commented on #321
to discuss the title for the same.

[2021-09-30 12:36] ChristianCiach commented on #213
Hi! I am not quite ready to disclose the organization I am working for and make things official. I probably need clearance from upper management for that.

But let me just take this opportunity to say **thank you** for your work! We've just introduced kbld and kapp into our deployment pipelines, and these are a big help!

Some background: We recently moved from "Docker Swarm" to Kubernetes (self h

[2021-09-30 12:57] ChristianCiach commented on #213
Hi! I am not quite ready to disclose the organization I am working for and make things official. I probably need clearance from upper management for that.

But let me just take this opportunity to say **thank you** for your work! We've just introduced kbld and kapp into our deployment pipelines, and these are a big help!

Some background: We recently moved from "Docker Swarm" to Kubernetes (self h

[2021-10-04 17:48] aaronshurley commented on #211
Just to provide a small update on this, it was mentioned that `kind/ops` can create some confusion considering the domain that we're in. `kind/cleanup` was suggested instead (this aligns with [kubernetes labels](https://github.com/kubernetes/kubernetes/labels?q=kind)).

[2021-10-05 20:55] microwavables commented on #213
@ChristianCiach thank you so much for these details and community love! Let us know if/when you can disclose the org you work for. We'd love to know what organizations are using Carvel :) I'll make sure the rest of the team sees your comment, as well. We'd also love to have you join one of our community meetings to virtually meet you over Zoom. Details here: https://hackmd.io/F7g3RT2hR3OcIh-Iznk2h

[2021-10-07 14:36] danielhelfand opened #259 "Update kbld path examples in packaging docs to have images.yml before -"
In kapp-controller docs, there are some [examples of using `kbld`](https://carvel.dev/kapp-controller/docs/latest/packaging/#package-1) during templating like below:

[code]

If you have kbld config in an overlay as an intermediary (a more advanced use case), it will sometimes override the `images.yml`. To avoid this, it is suggested to use the paths ordering with kbld shown below:

[code]

It mig

[2021-10-07 19:20] cppforlife opened #262 "describe templating steps mechanics for Package CR"
**Describe the problem/challenge you have**

not clear from the docs what kbld step does in example Package CR. consider adding docs for general App CR templating mechanics.

[2021-10-19 17:07] pivotaljohn commented on #228
ah! I inadvertently created this issue from #218 's checklist. I didn't have the ability to delete it, so I just left it.

It's meant to be a placeholder/reminder to make this update in the context of #218.

Sorry for any confusion.

[2021-10-25 06:17] cari-lynn opened #287 "Document ytt `@schema/default` annotation"
Add docs for the feature completed in https://github.com/vmware-tanzu/carvel-ytt/pull/490

We should mention in the docs that if you are using a function value for `@schema/default` the function must be defined prior to the `@data/values-schema` as detailed in https://github.com/vmware-tanzu/carvel-ytt/issues/526.

[2021-10-28 21:55] pivotaljohn opened #290 "Reconcile all Carvel tools to behave identically when no arguments are given"
**Describe the problem/challenge you have**
Reported first as: vmware-tanzu/carvel-kbld#184

For each command-line tool in the Carvel suite, they behave differently from others when no arguments are given.

| tool | displays help | displays error message | exit status |
| --- | --- | --- | --- |
| imgpkg | ❌  | ✅  | 1 |
| kapp | ✅  |  ✅  |  1 |
| kbld | ❌  | ❌  (displays "Succeeded") | 0 |
| kwt |

[2021-10-29 12:24] ChristianCiach commented on #223
Instead of telling you what should be changed, let me tell you what convinced me (as a new user of the carvel tools) to consider carvel in the first place:

We, just like probably many teams out there, already had existing workflows to build and deploy to kubernetes in place. More often than not it is not feasible to completely abandon your existing tools and workflows in favor of others. For exam

[2021-11-03 14:28] cppforlife commented on #290
both ytt and kbld do not display any error, because it theory its valid to give them to input and have them return no output. other commands do not have such behaviour because they always require some input.

[2021-11-03 21:40] pivotaljohn commented on #290
I don't understand the theory. In the `ytt` case, it's my understanding that in order to accept input, the `--file` flag must be given.

It's the difference between:

[code]

and

[code]

and the same kind of thing seems to apply to `kbld` as well:

[code]

and

[code]

Seems like it would be possible for a user to mistakenly believe that piping STDOUT to `ytt`/`kbld` would result in them processi

[2021-11-04 15:01] cppforlife commented on #290
you are right that -f is needed for input, which means that this could only happen when no flags are given. that may happen if you are writing wrappers (in bash, etc) that allow to deal with 0+ files -- im thinking of it as `func ytt(files ...File)` with 0 files being valid. there is of course a question whether we should disallow 0 files case entirely (which if we do, i would expect would result

[2021-11-04 19:25] cari-lynn opened #293 "Document exporting ytt schema as OpenAPI"
In the ytt documentation i should see docs that clearly explain:

## How to export a data values schema to an OpenAPI Doc
Docs should list data values schema annotations that are currently supported:
- `@schema/default`
- `@schema/nullable`
- `@schema/type any=True`

And the annotations that change the behavior of (add keys to) the OpenAPI document:
- `@schema/desc`

## How to put an OpenAPI Doc i

[2021-11-04 19:34] pivotaljohn commented on #290
This. This is the bit of context I bet I was missing. Yeah... I can absolutely see it from that perspective.

At first blush, the examples I gave above seem to me to be compelling evidence to make the 0 files case an error case.

[2021-11-18 15:07] universam1 opened #303 "support labels for app-groups"
**Describe the problem/challenge you have**
We like to annotate certain apps in order to filter them later for cleanup.

I see that kapp deploy --labels ... is supported, but that flag is not available under kapp app-group deploy.

Background:
We like to run a cronjob that removes test deployments that are older than a week, keeping production deployments.
Devs are able to create preview deploymen

[2021-11-24 16:49] #293 closed, assigned to pivotaljohn

[2021-11-24 16:49] #287 closed, assigned to pivotaljohn

[2021-12-02 19:43] cari-lynn commented on #75
I took a quick look at the Netlify documentation, and it looks like they have added a lot more detail about using golang functions since the last time I looked at this story. At this point I don't have any context that would be necessary to pick this up.

[2021-12-02 21:54] cari-lynn opened #308 "Generate `title` from `@schema/title` annotation"

[2021-12-02 21:57] cari-lynn commented on #308
*face palm* I created this in the incorrect repo. Actual story here: https://github.com/vmware-tanzu/carvel-ytt/issues/558

[2021-12-02 21:57] #308 closed, assigned to nobody

[2021-12-20 04:16] pivotaljohn commented on #75
Did some research and started a sketch of an approach: it's the bottom part of the description of this issue (so that it can be edited by any maintainer).

[2022-01-07 19:15] gcheadle-vmware opened #324 "Freeze left side table of contents on docs pages"
**Describe the problem/challenge you have**
On some of the longer docs pages, such as the [ytt openAPI schema doc](https://carvel.dev/ytt/docs/latest/how-to-export-schema/), when I scroll down past the TOC, it and the search bar goes away and nothing is shown in the left hand column of the page. It can be tedious to have to scroll up to the top of the page to navigate to another page on the websit

[2022-01-10 18:19] aaronshurley commented on #259
Removing the `stale` label. I agree that this would improve the documentation and is an easy fix. Marking this issue as `unprioritized-backlog` but open to PRs for folks that are interested in contributing.

[2022-01-14 16:54] pivotaljohn commented on #75
important-soon: We've gone on long enough with the symptomatic solution of requesting @cppforlife redeploy the playground. We rely plenty on Dmitriy for all kinds of work, let's take this one thing off his plate.

[2022-01-19 02:04] cari-lynn commented on #324
This seems like the intent is to make things better for readers. Question:
1. Would the sidebar scroll independently from the contents of the page? Say I were to scroll the contents of the page I'm reading to the end, would the sidebar not scroll and just not show the last few items in the list unless I hovered over it and scrolled it? (My laptop screen isn't able to list all the sidebar contents

[2022-01-22 01:09] cari-lynn commented on #75
Current branch https://github.com/vmware-tanzu/carvel/tree/playground-integration

[2022-01-24 17:42] cari-lynn commented on #75
@joaopapereira mentioned that it may be more clear to the website users if the website is tied to a released version of ytt instead of built from a commit on develop.

[2022-01-25 14:45] benmoss opened #341 "Kubernetes-style API reference"
**Describe the problem/challenge you have**
The API references right now are a big YAML document with comments. For issues like https://github.com/vmware-tanzu/carvel-kapp-controller/issues/415 it would be nice if we had a way to go into more detail with actual links, ala https://kubernetes.io/docs/reference/kubernetes-api/workload-resources/deployment-v1/

**Describe the solution you'd like**
Inv

[2022-01-26 23:09] gcheadle-vmware commented on #324
I think this would have to be the case, maybe it would be good to auto-scroll the sidebar so that the page currently being viewed is also in view and highlighted in the table of contents.

[2022-01-27 00:21] cari-lynn commented on #324
I think independant scroll provides benefits to navigating docs and less scrolling to move to a new page. My one concern is that it would make some of the docs less discoverable.

For example, on my 16in laptop screen at 100% the table of contents shows 5 out of the 8 sections. If we have it scroll independently the other three sections won't be seen unless I hover over it and scroll on the table

[2022-01-27 17:22] pivotaljohn commented on #324
Yeah, great points: UX-focused thinking.

And it's absolutely do-able:
[code]
ref: https://developer.mozilla.org/en-US/docs/Web/CSS/overflow

[2022-01-27 19:45] gcheadle-vmware commented on #324
I found this example of [Tekton](https://tekton.dev/docs/), and I think it makes the scrollable contents obvious:
![tekton screenshot](https://user-images.githubusercontent.com/67297250/151432333-9f4f1ef2-43c1-42b2-b7f4-f282319e65ca.png)

[2022-01-28 16:30] joaopapereira commented on #324
I tried it out in my machine and I am not 100% sure if it makes sense to have that type of scroll on the navigation if we do not make the header of the page also frozen.

Come bearing a gif
![2022-01-28 10 23 16](https://user-images.githubusercontent.com/1826130/151583908-392a2101-07e2-49cc-8e0c-f3d0bc21c8a7.gif)

In the previous gif I did constrain the navigation to a random height just to see wh

[2022-01-31 16:53] aaronshurley opened #345 "Weekly Sharing (Blog Post / Video)"
**Describe the problem/challenge you have**
We would like to grow Carvel's open-source community. In order to do so, we'd like to increase the visibility of the project. One thing we can try is regularly publishing content. This will allow us to highlight the usages of Carvel so that new users can discover the project.

**Describe the solution you'd like**
We would like this to be a lightweight ef

[2022-02-01 02:58] #321 closed, assigned to praveenrewar

[2022-02-02 22:37] gcheadle-vmware opened #352 "Banners that switch the version of docs should not redirect to the home page"
**Describe the problem/challenge you have**
When viewing ytt doc, I see a banner that says:
[code]
but when I click on [`latest version`]() it changes to latest version, and brings me to the home page of the ytt docs.

**Describe the solution you'd like**
I would like the site to change the version but try and stay on the page I am looking at when the version changes.

[2022-02-28 18:06] aaronshurley opened #378 "set up trivy scanning for long-term supported versions"
**Describe the problem/challenge you have**
We want to ensure that any long-term supported (LTS) versions are being scanned for security vulnerabilities regularly.

**Describe the solution you'd like**
All LTS versions of tools are being scanned:
- [ ] kapp-controller
- [ ] secretgen-controller
- [ ] kapp
- [ ] ytt
- [ ] kbld
- [ ] imgpkg
- [ ] vendir

**Anything else you would like to add:**

[2022-02-28 18:14] #259 closed, assigned to nobody

[2022-03-04 18:37] seemiller opened #384 "Broken link in kapp-controller FAQ"
**What steps did you take:**

Clicked on the "defined a schema" link in the kapp-controller [FAQ](https://carvel.dev/kapp-controller/docs/v0.32.0/faq/#how-can-i-generate-the-valuesschema-from-my-ytt-schema)

**What happened:**

Got a 404 page.

**What did you expect:**

To see the docs about how to write a schema

**Anything else you would like to add:**

The link is pointing to `https://carvel.de

[2022-03-10 18:14] #384 closed, assigned to nobody

[2022-03-10 19:18] #232 closed, assigned to nobody

[2022-03-21 17:01] #345 closed, assigned to nobody

[2022-04-08 14:53] unknownzone96 opened #409 "Documentation link not working"
**What steps did you take:**
Opened official documentation https://carvel.dev/kapp-controller/docs/v0.34.0/private-registry-auth/#packagerepository
and followed the link to "fetch docs":
<a href="config.md#image-authentication">fetch docs</a>

**What happened:**
Was redirected to non existing url
https://carvel.dev/kapp-controller/docs/v0.34.0/private-registry-auth/config.md#image-authentication
<

[2022-04-08 15:12] praveenrewar commented on #409
@unknownzone96 Thank you for letting us know :)

[2022-04-11 15:03] praveenrewar commented on #409
cc @neil-hickey @joe-kimmel-vmw
(I am not sure what should be the updated url here 😓 )

[2022-04-11 15:39] aaronshurley opened #410 "Update SECURITY.md for all repos"
There is an updated template for the `SECURITY.md` file that we want to update our repos with so that our users understand our security release process. See [TCE's example](https://github.com/vmware-tanzu/community-edition/blob/main/SECURITY.md).

Note that currently we intentionally point all individual repos to our [website's security policy](https://carvel.dev/shared/docs/latest/security-policy

[2022-04-11 17:54] neil-hickey commented on #409
Thanks @unknownzone96  /  @praveenrewar !

I went ahead and updated the docs to reflect the correct URL. Thank you for bringing it to our attention 👍

[2022-04-11 17:55] #409 closed, assigned to nobody

[2022-04-15 18:49] aaronshurley opened #418 "Deprecate use of `k14s.io` in favor of `carvel.dev` across the project"
**Describe the problem/challenge you have**
`k14s.io` is an outdated reference before we renamed the project to Carvel. This can create confusion for folks that have never known about k14s. Deprecating this use simplifies things for newcomers to the project.

**Describe the solution you'd like**
No references to k14s across the project.

**Anything else you would like to add:**
- There will likely

[2022-05-02 16:08] #410 closed, assigned to aaronshurley

[2022-05-20 14:33] abubakarm94 opened #440 "Intermitent failure when executing kapp deploy command"
**What steps did you take:**
Occasionally, executing kapp deploy command fails with the following error

**What happened:**
[code]

Kapp version: `kapp version 0.47.0`

[2022-05-27 08:27] Anutrix commented on #154
https://developer.apple.com/documentation/security/notarizing_macos_software_before_distribution
I assume this issue is about Apple Notarization.

MacOS has Gatekeeper which gives that pop-up for applications not notarized by Apple.

[2022-05-27 08:34] Anutrix commented on #161
Adding a 'How to Contribute' page to the official docs seems like a good way to pull in new contributors.

https://docs.godotengine.org/en/stable/community/contributing/ways_to_contribute.html
This seems like a good reference for such a page.

[2022-05-31 22:02] cppforlife commented on #440
@abubakarm94 looks like we missed this issue. this seems a kapp issue, so im going to transfer it to that repo...

[2022-06-07 13:56] kartiklunkad26 opened #451 "Carvel.dev doesn't have an easy way to copy commands from docs"
**Problem**
Going through the install process of kapp-controller in https://carvel.dev/kapp-controller/docs/v0.37.0/install/, and noticed there isn't an easy way to copy the code snippet or copy the install command to clipboard.

**Outcome**
I would like to be able to copy the commands from carvel.dev easily so that I don't make manual errors

**Examples**

<img width="1003" alt="Screen Shot 2022-

[2022-06-13 14:23] microwavables opened #459 "Update or remove header on website"
Header on website still says "Come find us at KubeCon + CloudNativeCon Europe! Keep an eye out on Twitter @carvel_dev and Slack #carvel for further details."

Please hide this, for now, until we have something new to put up there, unless the team knows what they want to replace it with already. :)

Thank you!

[2022-06-14 15:47] astaruch opened #460 "How to render GitLab's "!reference [some, rule]" line with ytt"
Hello,

I am struggling with the ytt and advanced use of GitLab's  [child-parent pipelines](https://docs.gitlab.com/ee/ci/pipelines/parent_child_pipelines.html#dynamic-child-pipelines).

I want to use [`!reference`](https://docs.gitlab.com/ee/ci/yaml/yaml_optimization.html#reference-tags) tag feature in the child pipeline, that will be generated by the `ytt`.

Let's go into the playground - https:

[2022-06-14 18:35] cppforlife commented on #459
removed.

[2022-06-14 18:35] #459 closed, assigned to nobody

[2022-06-22 20:17] petewall opened #468 "Invalid command in kapp controller docs"
**What steps did you take:**
Viewing the 0.34, 0.35, and 0.36.1 versions of the kapp controller docs show this:
[code]

**What happened:**
I checked the version of `kapp` and not `kctrl`

**What did you expect:**
[code]

**Anything else you would like to add:**
It's fixed in the later versions, but I thought I'd open this to clean the old versions as well.

[2022-06-22 20:18] petewall commented on #468
Made a PR to fix: #469

[2022-06-23 17:10] #468 closed, assigned to nobody

[2022-06-27 16:09] cknoblauch opened #471 "Link to katacoda playground no longer valid in kapp main page"
The link to the [Katacoda playground](https://www.katacoda.com/courses/kubernetes/playground) on the [kapp main page](https://carvel.dev/kapp/) is no longer valid. The page it leads to has a notice saying O'Reilly discontinued the site after acquiring it.

You should replace it with a working alternative (I could not find one doing a quick search) or replace this section to test locally.

[2022-06-27 17:52] aaronshurley commented on #471
Thanks for calling this out @cknoblauch. We'll get this fixed up.

[2022-06-28 06:07] #471 closed, assigned to nobody

[2022-07-14 12:20] kartiklunkad26 opened #482 "Authoring Carvel objects is clunky and is too steep of a learning curve"
**Describe the problem/challenge you have**

@alexbarbato raised this issue:
Long story short, currently there is no "developer" tooling for Carvel to help folks write their own overlays, Packages, Apps, etc. Teams are forced to iterate somewhat in the dark and/or invest the time to become experts which can be a very large hill to climb. While I think Carvel tooling is really good, I have not had

[2022-07-14 12:56] alexbarbato commented on #482
This work is certainly related - https://kubernetes.slack.com/archives/CH8KCCKA5/p1657714405319649

[2022-07-20 02:41] vangie commented on #218
brew install vmware-tanzu/carvel/kwt
kwt: The x86_64 architecture is required for this software.
Error: kwt: An unsatisfied requirement failed this build.

[2022-07-21 23:30] aaronshurley commented on #218
Thanks, @vangie. We haven't yet updated kwt's build process but have an issue tracked here: https://github.com/vmware-tanzu/carvel-kwt/issues/28.

I'll drop a mention in our slack channel just so that folks are aware and in case someone has bandwidth to knock this out. As always, PRs are welcome :)

[2022-07-23 00:16] #451 closed, assigned to nobody

[2022-07-25 17:57] aaronshurley opened #495 "Document the path to becoming a maintainer"
**Describe the problem/challenge you have**
Currently, the path to becoming a maintainer isn't fully captured in [our GOVERNANCE page](https://github.com/vmware-tanzu/carvel/blob/develop/GOVERNANCE.md). I'd like to better understand what the steps and details to becoming a maintainer consist of.

**Describe the solution you'd like**
A detailed description of the roles, responsibilities, requiremen

[2022-07-26 21:37] aaronshurley opened #498 "Testing automation"
Let's see if https://github.com/vmware-tanzu/carvel/pull/496 works

[2022-07-26 21:38] aaronshurley commented on #498
Success!

[2022-07-26 21:38] #498 closed, assigned to nobody

[2022-07-26 22:15] aaronshurley opened #499 "Figure out a way to automatically sync common files across repos"
**Describe the problem/challenge you have**
The Carvel project has a lot of repos associated with it. These repos share a lot of common needs (such as github workflows, boilerplate files, etc) that create toil when they need to be updated.

**Describe the solution you'd like**
It'd be awesome to have a single source of truth repo (such as https://github.com/vmware-tanzu/carvel-release-scripts) tha

[2022-08-02 16:09] aaronshurley commented on #495
We are starting a Working Group that will meet until we publish a new contributor model. Please let us know if you'd like to be involved!

[2022-08-02 22:28] aaronshurley commented on #103
This has been implemented. Closing.

[2022-08-02 22:28] #103 closed, assigned to nobody

[2022-08-02 22:39] aaronshurley opened #504 "Implement a sustainable way of sharing Contributing information across the project and repos"
**Describe the problem/challenge you have**
Currently, it's tedious to maintain the Contributing information across the project. Each repo has its own copy ([ytt example](https://github.com/vmware-tanzu/carvel-ytt/blob/develop/CONTRIBUTING.md)) and there's [a top-level, shared page on the website](https://carvel.dev/shared/docs/latest/contributing/).

**Describe the solution you'd like**
A more ef

[2022-08-16 19:10] aaronshurley commented on #211
Planning to start this initiative after the contributor model lands (https://github.com/vmware-tanzu/carvel/issues/495)

[2022-08-16 19:14] aaronshurley opened #515 "Triage all existing issues with updated labeling system"
Following https://github.com/vmware-tanzu/carvel/issues/211, we should perform a refresh of our primary backlogs so that they're updated, accurate, and consistent.

- [ ] kapp
- [ ] kapp-controller
- [ ] kbld
- [ ] imgpkg
- [ ] secretgen-controller
- [ ] ytt
- [ ] vendir

[2022-08-16 21:41] aaronshurley opened #516 "Realign on the issue triage process"
**Describe the problem/challenge you have**
We have a [documented issue triage process](https://github.com/vmware-tanzu/carvel/blob/develop/processes/issue-triage.md) but it's been a while since we last discussed it. Because of this, there is some misalignment behind our triage process which causes confusion for maintainers.

**Describe the solution you'd like**
Alignment around our triage process

[2022-08-16 22:22] aaronshurley opened #517 "Move secretgen-controller out of experimental on the website"
**Describe the problem/challenge you have**
On [carvel.dev](https://carvel.dev/), secretgen-controller shows under the Experimental Tools section though it has graduated out of experimental some time ago ([see this issue](https://github.com/vmware-tanzu/carvel-secretgen-controller/issues/14)). We want to give users confidence in this tool so we should update its position on the website.

**Describ

[2022-08-17 14:54] tswicegood commented on #418
Heads up, the k14s.io certificate has expired. Looks like folks are going to have to switch now if they were using that as any part of their build chain.

[2022-08-19 15:32] aaronshurley commented on #418
@tswicegood thanks for the heads up. Please do use carvel.dev wherever possible. We'll make a note in our Slack channel, as well.

[2022-08-22 19:11] aaronshurley commented on #58
From https://github.com/vmware-tanzu/carvel/issues/161#issuecomment-1139402693:

This seems like a good reference for such a page.

[2022-08-22 19:12] aaronshurley commented on #161
Great suggestion, @Anutrix. I added this comment to a more specific issue: https://github.com/vmware-tanzu/carvel/issues/58

[2022-08-22 20:41] pivotaljohn opened #525 "Fix the diagram in "How It Works" ytt docs"
@kevinvmware reported two potential issues regarding the diagram at the top of https://carvel.dev/ytt/docs/v0.42.0/how-it-works/#the-ytt-pipeline :

... and ...

[2022-08-23 22:57] aaronshurley opened #528 "Update the Code of Conduct across all repos"
**Describe the problem/challenge you have**
VMware OSS projects are recommended to use the latest version of the Code of Conduct: https://github.com/vmware-tanzu/carvel/blob/develop/CODE_OF_CONDUCT.md

**Describe the solution you'd like**
All project repos have an update code of conduct.

**Anything else you would like to add:**
- have we figured out a way to sync common files across repos, yet? 😅

[2022-08-24 15:34] aaronshurley commented on #58
Capturing notes here: https://hackmd.io/lFfF6D1qTdC6Yxjl-_6bbw

[2022-08-25 00:15] #517 closed, assigned to joe-kimmel-vmw

[2022-08-29 00:16] #482 closed, assigned to nobody

[2022-08-31 20:07] neil-hickey opened #535 "REQUEST: Role change for @neil-hickey"
### Summary
This issue is a formal request for consideration of a role change in the Carvel project by a member of the community.

Each role is defined in our contribution model document. If you would like to request mutliple roles / multiple subprojects,
please open a new issue for each request.

### GitHub Username
@neil-hickey

### Role Requested
- [x] Reviewer
- [ ] Approver
- [ ] Lead

### Ap

[2022-08-31 20:11] neil-hickey opened #536 "REQUEST: Role change for @joe-kimmel"
### Summary
This issue is a formal request for consideration of a role change in the Carvel project by a member of the community.

Each role is defined in our contribution model document. If you would like to request mutliple roles / multiple subprojects,
please open a new issue for each request.

### GitHub Username
@joe-kimmel-vmw

### Role Requested
- [x] Reviewer
- [ ] Approver
- [ ] Lead

###

[2022-08-31 20:23] neil-hickey commented on #535
https://github.com/vmware-tanzu/carvel/pull/537

[2022-08-31 20:23] #535 closed, assigned to nobody

[2022-09-02 16:44] microwavables opened #541 "Create a release checklist for a more formal release process"
**Describe the problem/challenge you have**
Currently there is no set process for major releases for the team to follow for a more consistent experience. This creates chaos when trying to plan for communications, content, and promotion of the releases.

**Describe the solution you'd like**
I would like to create a release checklist for the team to follow for upcoming major releases.

**Anything el

[2022-09-07 19:01] #58 closed, assigned to aaronshurley

[2022-09-09 06:27] mamachanko opened #551 "Harmonize standard library overviews"
**Describe the problem/challenge you have**

The ytt docs on its standard library appear differently in the sidebar than in detail. The former lists some that don't appear in the latter, while the latter aspirational groups by category.

I find that confusing. As a reader and user i find constantly second guessing myself as to whether i am missing something.

![image](https://user-images.githubuse

[2022-09-13 17:05] #495 closed, assigned to aaronshurley

[2022-09-13 17:05] #161 closed, assigned to aaronshurley

[2022-09-13 17:18] aaronshurley commented on #551
Nice catch, @mamachanko! Totally agree, this is confusing and could be improved. We're currently in the planning stage for some upcoming work so it's possible that we can get to this after the next release lands. If you'd like to give this a shot, PRs are welcome :)

cc @pivotaljohn for awareness

[2022-09-13 17:20] aaronshurley commented on #525
This is great feedback. It seems like we might have a few docs-related issues that we could prioritize in the upcoming weeks/months.

[2022-09-13 20:56] aaronshurley commented on #536
This was completed in https://github.com/vmware-tanzu/carvel/pull/538

[2022-09-13 20:56] #536 closed, assigned to cppforlife

[2022-09-13 21:01] aaronshurley commented on #56
This was completed as a part of https://github.com/vmware-tanzu/carvel/commit/212b9cf2f834843fea9a2ef37ceb58947606704b

[2022-09-13 21:01] #56 closed, assigned to nobody

[2022-09-14 13:51] pivotaljohn commented on #551
You are quite right, sir!

@mamachanko, I've been picking at the overall need to re-organize `ytt`'s docs — in general — and one notion that popped up is to push down the module listing off the left nav entirely (and absorb "@ytt library" into the "Reference" section).

So, that thinking is just off-the-cuff and ad-hoc— so it's questionable. But if that turns out to be a good idea, then it would n

[2022-09-14 18:18] aaronshurley commented on #504
this has been completed

[2022-09-14 18:18] #504 closed, assigned to nobody

[2022-09-14 21:24] devthejo commented on #213
<a href="https://www.fabrique.social.gouv.fr/" target="_blank" alt="logo-socialgouv"><img align="left" src="https://avatars.githubusercontent.com/u/35456799?s=300"></a>
Organization: Fabrique Numérique des Ministères Sociaux
Website: https://www.fabrique.social.gouv.fr/
Country: France
Usage:
  We are using kapp CLI as deployer for our CI/CD tooling that we are developing and implementing actively

[2022-09-17 16:00] mamachanko commented on #551
As a user and aspiring contributor to `ytt` I shy away from the research part, but I think I provide myself as a data point.

When "using" the docs, I want to:

* understand what's available as built-in libraries
* understand how to use each built-in library's API
* be sure that what I see is all there is

Topical grouping, e.g. "serialization", is not very interesting to me.

I find the overlay's

[2022-10-05 16:37] neil-hickey commented on #541
hey @microwavables !

I happened to be creating a release checklist for secretgen-controller and kapp-controller, and just noticed this issue. Here's some links to the new issue templates, let me know / feel free to make a PR to edit these as you see fit if they don't align with what you were expecting.

- https://github.com/vmware-tanzu/carvel-secretgen-controller/blob/develop/.github/ISSUE_TEMPL

[2022-10-20 18:56] microwavables opened #577 "CNCF SANDBOX PROJECT ONBOARDING"
This is an issue to keep track of the tasks we need to take care of regarding onboarding as a sandbox project into CNCF ([see here](https://github.com/cncf/sandbox/issues/168) for the related issue within CNCF/TOC repo).

## Whole team needs to read and understand, and just be generally aware of, (please put your name under each item when you've read each one, and put comments in here with any que

[2022-10-22 23:56] caniszczyk commented on #577
Do you have a new github org for carvel yet :)?

[2022-10-31 15:51] microwavables commented on #577
@caniszczyk I'm trying to get ahold of @carvel to see if they can switch their handle so we can have /carvel https://github.com/carvel

Otherwise, if we don't hear back in the next week? we'll go with /carvel-dev which I already created as a just-in-case: https://github.com/carvel-dev

[2022-11-01 21:06] neil-hickey commented on #577
### Checklist for github migration:

- [x] Validate that transfering one less "busy" project is correctly moved, redirection is working, and the relevant permissions remain intact. vmware-tanzu/carvel-docker-image might good a good candidate.
- [x] https://docs.github.com/en/repositories/creating-and-managing-repositories/transferring-a-repository
- [ ] Move the following repositories to the new o

[2022-11-01 21:20] joaopapereira commented on #577
k14s/homebrew-tap is deprecated so it should be ok to be removed

[2022-11-10 18:50] microwavables commented on #528
I believe this can be closed or referred to what @neil-hickey is working on, to align with CNCF's code of conduct instead of VMware's.

[2022-11-11 12:27] praveenrewar opened #592 "Update kctrl usage docs to use a different namespace and not the default one"
**Describe the problem/challenge you have**
From the docs [Consuming Packages using CLI](https://carvel.dev/kapp-controller/docs/v0.42.0/kctrl-package-tutorial/), when I copy the command to install the TCE repository and run it, I get an error saying `Error: Creating sensitive resources in a shared namespace (default)` which is expected but probably not a good experience for someone who is trying

[2022-11-11 21:04] jbrunton commented on #577
I've read the links above. I don't have permission to edit the issue and add my name to the "read by" sections, however.

[2022-11-14 14:18] #528 closed, assigned to nobody

[2022-11-14 16:31] joaopapereira commented on #577
I just added your name on the "read by" :D

[2022-11-15 18:27] aaronshurley opened #594 "Carvel repos follow the INI's inclusive naming practices"
**Describe the problem/challenge you have**
We want to ensure that Carvel creates an inclusive environment by removing harmful language from code and software documentation to promote a diverse community.

**Describe the solution you'd like**
As a part of the CNCF, we want to follow the [Inclusive Naming Initiative's (INI) guidance](https://inclusivenaming.org/).

Additionally, to ensure that harm

[2022-11-15 22:55] microwavables commented on #577
**Edit** This has been merged!
Created this PR for artwork transfer: https://github.com/cncf/artwork/pull/369

[2022-11-16 20:43] aaronshurley commented on #594
As an update, we have decided on the following inclusive naming guidance:
- Carvel will follow INI’s guidance
- Cluster Essentials will follow VMware’s guidance (as much as possible considering Carvel)

[See this slack thread for more context.](https://vmware.slack.com/archives/C010XR15VHU/p1668616607399049?thread_ts=1668553216.897939&cid=C010XR15VHU)

[2022-11-16 20:44] aaronshurley commented on #594
First PR has been submitted: https://github.com/vmware-tanzu/carvel/pull/595

[2022-11-28 15:27] #594 closed, assigned to aaronshurley

[2022-11-28 16:54] aaronshurley opened #602 "Turn on two-person approval strategy for all established repos"
**Describe the problem/challenge you have**
To reduce the attack surface for bad actors to get rogue code into our repositories we need to adopt a two-person approval strategy.

**Describe the solution you'd like**
Every change MUST be agreed to by at least two developers (one of whom may be the submitter) prior to integration into the repository. Controls must be in place to ensure that a trusted

[2022-11-28 20:11] aaronshurley commented on #602
To turn on branch protection rules:
1. In the repo, go to Settings.
2. Go to Branches.
3. Find the branch that you want to protect (e.g. `develop`) and edit its rules.
4. Select `Require a pull request before merging` and set `Require approvals` to `1`.
5. Click `Save changes`.

[2022-11-28 20:13] aaronshurley commented on #602
Validated that all established repos already had this enabled.

[2022-11-28 20:13] #602 closed, assigned to nobody

[2022-11-28 22:05] aaronshurley commented on #594
I created follow-up issues for repos that have examples that will require further effort:
- https://github.com/vmware-tanzu/terraform-provider-carvel/issues/31
- https://github.com/vmware-tanzu/carvel-kwt/issues/32
- https://github.com/vmware-tanzu/carvel-guestbook-example-on-kubernetes/issues/6